body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1e4e4e;
    color: #a4d1c1;
    user-select: none;
    letter-spacing: 1.5px;
}

h1 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px auto;
}

form {
    max-width: 600px;
    margin: 15px auto;
    padding: 25px;
    border-radius: 25px;
    background: #1b4141;
}

/* ALL LABEL */
label {
    font-size: 20px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #1e4e4e;
    border-radius: 4px;
    background-color: #1e4e4e;
    color: #a4d1c1;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

/* Custom arrow for Parameter 1 */
#param1 {
    background: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right center;
    background-position: calc(100% - 10px) center;
    /* Adjust alignment */
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #1e4e4e;
    border-radius: 4px;
    background-color: #1e4e4e;
    color: #a4d1c1;
    padding-right: 30px;
}

#param1::-ms-expand {
    display: none;
}

/* Adjust color of calendar icon in Parameter 2 */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-left: -20px;
}

input[type="date"]::-ms-clear {
    display: none;
}

#dateField {
    display: flex;
    align-items: center;
}

#RepField {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-button {
    cursor: pointer;
    margin-left: 5px;
}

.downloadBtn {
    width: 100%;
    background-color: #1e4e4e;
    color: #a4d1c1;
    padding: 9px 20px;
    margin: 8px 0 auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #3e8e41;
}

/* Author Name CSS */
.name-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #2d2d2d;
    padding: 5px;
    border: 1px solid #6fb2b2;
    border-radius: 5px;
    color: #6fb2b2;
}

#combBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Style for the option selector */
.option-selector {
    display: flex;
    align-items: center;
}

.option-arrows {
    display: flex;
    align-items: center;
}

.option-arrows span {
    cursor: pointer;
    margin-left: 10px;
}

/* CheckBox Container */
.checkBoxDiv {
    display: flex;
    align-items: center;
    /* Vertically center the items */
    justify-content: center;
    /* Horizontally center the items */
    align-items: center;
    /* Horizontally center the items */
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 0px;

}

.checkBoxDiv>div {
    margin-right: 15px;
    /* Adjust the margin as needed */
    margin-left: 0px;
    white-space: nowrap;
    /* Prevent divs from wrapping */
}

.hidden {
    display: none;
}

/* Dropdown container styles */
#dropdownContainer {
    margin-left: 5px;
}

/* Dropdown styles */

#localDrop {
    background: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right center;
    background-position: calc(100% - 10px) center;
    /* Adjust alignment */
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #1e4e4e;
    border-radius: 10px;
    background-color: #1e4e4e;
    color: #a4d1c1;
    padding-right: 30px;
    width: 200px;
    margin: 8px auto;
}

#localDrop::-ms-expand {
    display: none;
}

#myCheckbox {
    transform: scale(1.1);
    /* Adjust the scale factor as needed */
    width: 30px;
}